web/0623/db
web/0623/csv
web/0623/html
/web/user activity/csv/
/web/user activity/db/
/web/user activity/html/
/web/0623/execute/csv/
/web/recharge/csv/
/web/recharge/db/
/web/recharge/html/
/web/recharge_manual/csv/
/web/recharge_manual/db/
/web/recharge_manual/html/
/web/stimulation/csv/
/web/stimulation/db/
/web/stimulation/html/

/web/*/csv/
/web/*/db/
/web/*/html/
/web/0623/execute/db/
/db/
/db/*
/db/new/*
